<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCs0o5tb8YqvEsMz9VbqVD2hG7TE4d2qaw</string>
	<key>GCM_SENDER_ID</key>
	<string>175936260357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UmutErol.VakifbankCampus</string>
	<key>PROJECT_ID</key>
	<string>vakifbankkampus</string>
	<key>STORAGE_BUCKET</key>
	<string>vakifbankkampus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175936260357:ios:d92ed9fba00b07b9434f6c</string>
</dict>
</plist>